* {
  box-sizing: border-box;
  font-size: 13px;
  line-height: 18px;
  font-family: Arial, sans-serif;
  color: #515076;
  font-weight: 400;
}

.card-list-container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 110px 85px 116px 85px;
  justify-content: center;
  row-gap: 45px;
  column-gap: 45px;
}

.container {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: 86px -174px;
  width: 1280px;
  background-image: url(/images/background.png);
  background-size: 790px 697px;
}

.title {
  text-align: center;
  font-size: 70px;
  line-height: 78px;
  color: #515076;
}

.card-container {
  width: 340px;
  height: 573px;
  background-color: #F7F7FA;
  padding: 25px;
  box-shadow: 2px 2px 10px 0px #5150761A;
}

.img-mousse {
  width: 290px;
  height: 245px;
}

.product-category {
  display: block;
  margin-bottom: 5px;
  margin-top: 30px;
  color: #A5A3B9;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.product-name {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}

.product-description {
  margin-top: 0;
  margin-bottom: 10px;
}

.product-compound {
  padding-left: 15px;
  margin-bottom: 0px;
}

.product-price {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

.price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.cost {
  font-size: 20px;
  line-height: 24px;
}

.bg-aqua {
  background-color: aquamarine;
}

.bg-red {
  background-color: red;
}

#btn-change-color-first-card {
  padding: 20px;
  background-color: turquoise;
  border-radius: 15px;
}

#btn-change-color-all-card {
  background-color: rgb(51, 255, 0);
  border-radius: 15px;
  padding: 20px;
}

#btn-open-google {
  background-color: rgb(255, 0, 217);
  border-radius: 15px;
  padding: 20px;
}

#btn-output-console-log {
  background-color: rgb(221, 255, 0);
  border-radius: 15px;
  padding: 20px;
}

#btn-change {
  background-color: rgb(255, 136, 0);
  border-radius: 15px;
  padding: 20px;
}

.btn-pay {
  border-radius: 65px;
  padding: 5px;
  background-color: #008000;
}
